@model NetCoreProjectsList.Models.Project

@{
    var isEdit = (Model?.ProjectId != null);
    string actionName;
    if (isEdit)
    {
        actionName = nameof(NetCoreProjectsList.Controllers.ProjectsController.Edit);
    }
    else
    {
        actionName = nameof(NetCoreProjectsList.Controllers.ProjectsController.Create);
    }
}

<h2>@actionName</h2>

<form asp-action="@actionName" method="post" asp-antiforgery="true">
    <input type="hidden" asp-for="ProjectId" />
    <div class="form-horizontal">
        <h4>Project</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <span class="control-label col-md-2">Name</span>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>